[submodule "app/src/androidTest/assets/features"]
	path = app/src/androidTest/assets/features
	url = https://github.com/Paldom/Mobile-CI-Gherkin
[submodule "keys"]
	path = keys
	url = https://github.com/Paldom/Mobile-CI-Android-Certs.git
